@import "./main.scss";
.bar-holder{
    display: flex;
    justify-content: center;
    .bar{
        position: absolute;
        display: flex;
        justify-content: center;
        bottom: 65px;
        background-color: rgb(16, 16,16);
        padding: 0.6px;
        border-radius: 100px;
        height: 0px;
        width: 96%;
    }
}
.footer-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    footer{
    padding: 20px;
    }
}