@media screen and (max-width: "600px") {
  .about-me {
    h1 {
      right: 0px !important;
    }
  }
  #game-surface {
    display: none !important;
  }
  .proj-con {
    .d1 {
      margin-top: -50px !important;
      margin-left: -550px;
      padding: 6px !important;
    }
    .d2 {
      padding: 6px !important;
    }
    .d3 {
      padding: 6px !important;
      h1 {
        font-size: 30px !important;
      }
      p {
        width: 160px !important;
        font-size: 10px !important;
      }
      a {
      }
    }
    div {
      padding: 0px;
    }
  }
  .wave-container {
    width: 56% !important;
  }
}
@keyframes binary {
  33% {
  }
  66%{
    color: cyan;
  }
  99% {
  }
}

// @keyframes binary {
//   33% {
//     color: indigo;
//   }
//   66% {
//     color: green;
//   }
//   99% {
//     color: cyan;
//   }
// }
